alias vim=“/usr/local/Cellar/macvim/7.4-73/bin”
alias vi=“/usr/local/Cellar/macvim/7.4-73/bin”

alias gst="git status"
alias gaa="git add -A"
alias gst="git branch"
alias gst="git diff"
alias gst="git commit -m"
alias gst="git checkout"
alias gst="git log"
alias gst="git fetch"
alias gst="git rebase --continue"
