; .editorconfig

root = true

[**.js]
indent_style = space
indent_size = 4
end_of_line = lf

[**.css]
indent_style = space
indent_size = 4

[**.html]
indent_style = space
indent_size = 4
max_char = 78
brace_style = expand
