root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = tab
indent_size = 4
trim_trailing_whitespace = true

[**.coffee]
bin=node
indent_size = 2
indent_style = space

[**.rb]
indent_size = 2
indent_style = space

[*.json]
indent_size = 2
indent_style = space

[**.coffee]
indent_size = 2
indent_style = space
