# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*~

# OS or Editor folders
.DS_Store
.cache
tags

# Folders to ignore
.hg
.svn
Desktop.ini
.swp

# Package manager
/node_modules
/npm-debug.log
bower_components

# Other stuff
*.pyc
/tmp
.sass-cache
.listen_test

# Thumbnail cache files
._*
Thumbs.db

# Tags
tags.lock
tags.temp

# Ignore certs
*.pem
*.crt
*.key
