# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*~

# OS or Editor folders
.DS_Store
.cache
.idea/
*.iml

# Folders to ignore
.hg
.svn
Desktop.ini
.swp
.secrets

# Package manager
/node_modules
/npm-debug.log
bower_components

# Other stuff
*.pyc
/tmp
.sass-cache
.listen_test
.tern-port
.byebug_history
.yardoc
*.rest
tsconfig.tsbuildinfo


# Thumbnail cache files
._*
Thumbs.db

# Tags
tags.lock
tags.temp

# Ignore certs
*.pem
*.crt
*.key

# Env files
.env.staging
.env.stage
.env.production
.env.prod

# Cursor rules
.cursorrules