" https://github.com/JetBrains/ideavim/blob/master/doc/set-commands.md
set history=1000
set hlsearch
set ignorecase
set multiple-cursors
set noerrorbells
set relativenumber
set scrolloff=3
set showmode
set smartcase
set visualbell
set commentary
set surround
set NERDTree
set matchit
set vim-paragraph-motion
set textobj-indent

let mapleader = ','

command! PasteLorem put ="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."

noremap H ^
noremap L $

nnoremap <leader>z :source ~/.ideavimrc<CR>
nnoremap <leader>? :actionlist<CR>

nmap <leader>q :action Stop<CR>:action CloseTabsAction<CR>

nnoremap <leader>c<space> :action CommentByLineComment<CR>
vnoremap <leader>c<space> :action CommentByLineComment<CR>:action VimVisualExitMode<CR>

nmap <leader>t :action Stop<CR>:action CloseTabsAction<CR>:action RunClass<CR>

nmap <leader>h :action CollapseSelection<CR><ESC>

nmap <leader>p :action ReformatCode<CR><ESC>

nnoremap <silent> <C-w>h :action SplitHorizontally<CR>
nnoremap <silent> <C-w>v :action SplitVertically<CR>

nnoremap <C-k> <C-W>k
nnoremap <C-j> <C-W>j
nnoremap <C-h> <C-W>h
nnoremap <C-l> <C-W>l

nnoremap <silent> <C-p> :action GotoFile<CR>

nmap <leader>a :action GotoTest<CR>

nmap <leader>p :action CopyFileName<CR>
nmap <leader>f :action FileStructurePopup<CR>
nmap <leader><space> :action QuickJavaDoc<CR>
nmap <leader>e :action ShowErrorDescription<CR>

nnoremap <silent> <C-a>f :action ToggleFullScreen<CR>

nnoremap <silent> <C-t> :action Refactorings.QuickListPopupAction<CR>
nnoremap <silent> <M-t> :action ActivateTerminalToolWindow<CR>

nnoremap <silent> <C-K> :action GoToDeclaration<CR>

nnoremap <silent> <C-S-F> :action FindInPath<CR>

nnoremap <Leader>k :action HighlightUsagesInFile<cr>

nnoremap <silent> <C-E> :action SelectInProjectView<cr>

nnoremap <leader>li :PasteLorem<CR>

nnoremap <leader>fu :action FindUsages<cr>
nnoremap <leader>su :action ShowUsages<cr>
nnoremap <leader>bb :action ToggleLineBreakpoint<cr>
nnoremap <leader>br :action ViewBreakpoints<cr>
nnoremap <leader>ic :action InspectCode<cr>
nnoremap <leader>re :action RenameElement<cr>
nnoremap <leader>rf :action RenameFile<cr>
nnoremap <leader>gq :action ReformatCode<cr>
nnoremap <leader>dd :action Debug<cr>
nmap <leader>dc :action DebugConfiguration<cr>
nmap <leader>rr :action RunAnything<cr>
nmap <leader>rc :action RunConfiguration<cr>

nnoremap <leader>qi :action QuickImplementations<CR>
nnoremap <leader>gs :action GotoSuperMethod<cr>
nnoremap <leader>gd :action GotoDeclaration<cr>
nnoremap <leader>gr :action GotoRelated<cr>

nnoremap <leader>gb :action Annotate<cr>
nnoremap <leader>gc :action Git.ResolveConflicts<cr>
nnoremap <leader>gi :action Vcs.ShowHistoryForBlock<cr>
vnoremap <leader>gi :action Vcs.ShowHistoryForBlock<CR>:action VimVisualExitMode<CR>
nnoremap <leader>gh :action Vcs.ShowTabbedFileHistory<cr>
nnoremap <leader>go :action Github.Open.In.Browser<CR>
nnoremap <leader>cf :action CopyPathFromRepositoryRootProvider<CR>

nnoremap g; :action JumpToLastChange<Enter>
nnoremap g, :action JumpToNextChange<Enter>
nnoremap [c :action VcsShowPrevChangeMarker<cr>
nnoremap ]c :action VcsShowNextChangeMarker<cr>

"noremap <leader>gb :action copilot.requestCompletions<CR>
"noremap <leader>gb :action copilot.cycleNextInlays<CR>
"noremap <leader>gb :action copilot.cyclePrevInlays<CR>
