" https://github.com/JetBrains/ideavim/blob/master/doc/set-commands.md
set history=1000
set hlsearch
set ignorecase
set multiple-cursors
set noerrorbells
set relativenumber
set scrolloff=3
set showmode
set smartcase
set visualbell
set commentary
set surround

let mapleader = ','

noremap H ^
noremap L $

nnoremap <leader>c<space> :action CommentByLineComment<CR>
vnoremap <leader>c<space> :action CommentByLineComment<CR>:action VimVisualExitMode<CR>

nmap <leader>T :action RunClass<CR>
nmap <leader>t :action Run<CR>

nmap <leader>p :action ReformatCode<CR><ESC>
nnoremap <silent> <M-p> :action ReformatCode<CR><ESC>

nnoremap <leader>z :source ~/.ideavimrc<CR>

nnoremap <silent> <C-w>h :action SplitHorizontally<CR>
nnoremap <silent> <C-w>v :action SplitVertically<CR>

nnoremap <C-k> <C-W>k
nnoremap <C-j> <C-W>j
nnoremap <C-h> <C-W>h
nnoremap <C-l> <C-W>l

nnoremap <silent> <C-p> :action GotoFile<CR>

nmap <leader>a :action GotoTest<CR>
nmap <leader>o :action Github.Open.In.Browser<CR>
nmap <leader>h :action CollapseRegion<CR>
nmap <leader>f :action FileStructurePopup<CR>
nmap <leader><space> :action QuickJavaDoc<CR>

nnoremap <silent> <C-e> :action ToggleSideMode<CR>

nnoremap <silent> <C-a>f :action ToggleFullScreen<CR>

nnoremap <silent> <C-t> :action Refactorings.QuickListPopupAction<CR>
nnoremap <silent> <M-t> :action ActivateTerminalToolWindow<CR>

nnoremap <silent> <C-K> :action GoToDeclaration<CR>

nnoremap <silent> <C-S-F> :action FindInPath<CR>

nnoremap <Leader>k :action HighlightUsagesInFile<cr>

nnoremap <leader>fu :action FindUsages<cr>
nnoremap <leader>su :action ShowUsages<cr>
nnoremap <leader>bb :action ToggleLineBreakpoint<cr>
nnoremap <leader>br :action ViewBreakpoints<cr>
nnoremap <leader>ic :action InspectCode<cr>
nnoremap <leader>re :action RenameElement<cr>
nnoremap <leader>rf :action RenameFile<cr>
nnoremap <leader>gq :action ReformatCode<cr>
nnoremap <leader>dd :action Debug<cr>
nmap <leader>dc :action DebugConfiguration<cr>
nmap <leader>rr :action RunAnything<cr>
nmap <leader>rc :action RunConfiguration<cr>

nnoremap <leader>qi :action QuickImplementations<CR>
nnoremap <leader>gs :action GotoSuperMethod<cr>
nnoremap <leader>gd :action GotoDeclaration<cr>
nnoremap <leader>gr :action GotoRelated<cr>
nnoremap <leader>gb :action Annotate<cr>
nnoremap <leader>gc :action Git.ResolveConflicts<cr>
nnoremap <leader>gi :action Vcs.ShowHistoryForBlock<cr>
nnoremap <leader>gh :action Vcs.ShowTabbedFileHistory<cr>