<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.zenorocha.jira</string>
	<key>connections</key>
	<dict>
		<key>65C3ABC5-BABC-4D3A-8F59-B2345907A667</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D2E239ED-D8AA-4BA0-80E4-0A2F714A4668</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>6E4EEBD5-0AB8-4986-8EC0-1CD707F41689</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>11D5721D-E45C-4D45-82C8-2CC370002271</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>7D30B142-D874-472E-A673-D4828EF8288D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>42EB8BF8-63CA-457B-9FAB-F5F5116C4F8F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Zeno Rocha</string>
	<key>description</key>
	<string>Open Liferay's Jira ticket in the browser</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Liferay Jira v1.0.0</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>lps</string>
				<key>subtext</key>
				<string>Open Liferay's Jira ticket in the browser</string>
				<key>text</key>
				<string>Jira - LPS</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6E4EEBD5-0AB8-4986-8EC0-1CD707F41689</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>https://issues.liferay.com/browse/LPS-{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>11D5721D-E45C-4D45-82C8-2CC370002271</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>https://issues.liferay.com/browse/AUI-{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>D2E239ED-D8AA-4BA0-80E4-0A2F714A4668</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>aui</string>
				<key>subtext</key>
				<string>Open AlloyUI's Jira ticket in the browser</string>
				<key>text</key>
				<string>Jira - AUI</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>65C3ABC5-BABC-4D3A-8F59-B2345907A667</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>mob</string>
				<key>subtext</key>
				<string>Open Mobile's Jira ticket in the browser</string>
				<key>text</key>
				<string>Jira - Mobile</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>7D30B142-D874-472E-A673-D4828EF8288D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>https://issues.liferay.com/browse/Mobile-{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>42EB8BF8-63CA-457B-9FAB-F5F5116C4F8F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>11D5721D-E45C-4D45-82C8-2CC370002271</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>42EB8BF8-63CA-457B-9FAB-F5F5116C4F8F</key>
		<dict>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>65C3ABC5-BABC-4D3A-8F59-B2345907A667</key>
		<dict>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>6E4EEBD5-0AB8-4986-8EC0-1CD707F41689</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>7D30B142-D874-472E-A673-D4828EF8288D</key>
		<dict>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>D2E239ED-D8AA-4BA0-80E4-0A2F714A4668</key>
		<dict>
			<key>ypos</key>
			<real>180</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://zenorocha.com</string>
</dict>
</plist>
